* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --paper: #dedede;
  --white: white;
  --red: #a00e0e;
  --black: black;
  --sky: #f6fcfb;
  --sun: #f44336;
}

body {
  font-family: 'Arima';
  background-color: var(--paper);
}

.banner-image {
  background-image: url('../img/banner-image.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-image h1,
h2 {
  text-align: center;
  color: var(--white);
}

.banner-image h1 {
  font-size: 24px;
}

.banner-image h2 {
  font-size: 20px;
}

.introduction-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  margin: 40px;
  margin-bottom: 50px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;

}

.introduction-container p {
  text-align: center;
  margin: 10px 0;
}

.introduction-container:hover {
  transform: scale(1.03);
  background-color: var(--black);
  color: var(--white);
}

.introduction-container img {
  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 15px;
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-hover {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icons-hover:hover {
  transform: scale(1.3);
  color: var(--red);
}

main h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--black);
}

.osaka-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  margin: 20px 40px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.osaka-container p {
  text-align: center;
  margin: 10px 0;
}

.osaka-container img {
  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 15px;
}

.osaka-container:hover {
  transform: scale(1.03);
  background-color: var(--black);
  color: var(--white);
}

.itomori-container-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  margin: 20px 40px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.itomori-container {
  display: none;
}

.itomori-container-mobile p {
  text-align: center;
  margin: 10px 0;
}

.itomori-container-mobile img {
  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 15px;
}

.itomori-container-mobile:hover {
  transform: scale(1.03);
  background-color: var(--black);
  color: var(--white);
}

.kumano-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 20px;
  margin: 20px 40px;
  border-radius: 15px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.kumano-container p {
  text-align: center;
  margin: 10px 0;
}

.kumano-container img {
  border-radius: 15px;
  max-width: 100%;
  margin-bottom: 15px;
}

.kumano-container:hover {
  transform: scale(1.03);
  background-color: var(--black);
  color: var(--white);
}

#gallery-title {
  margin: 50px auto 10px auto;
  text-align: center;
  color: var(--black);
}

.gallery-container {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.gallery-container div {
  width: 225px;
  height: 300px;
}

.gallery-container img {
  border: 5px solid var(--white);
  transition: 0.3s ease;
  width: 100%;
}

.gallery-container img:hover {
  transform: scale(1.2);
  border: 5px solid var(--black);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .banner-image {
    height: 350px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  .introduction-container p {
    margin: 5px 0;
  }

  .icons-hover {
    width: 60px;
    height: 60px;
  }

  .osaka-container p {
    margin: 5px 0;
  }

  .itomori-container {
    display: none;
  }

  .itomori-container-mobile p {
    margin: 5px 0;
  }

  .kumano-container p {
    margin: 5px 0;
  }

  .gallery-container div {
    width: 250px;
    height: 325px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .banner-image {
    height: 400px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  .introduction-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .introduction-container p {
    width: 40%;
  }

  .introduction-container img {
    width: 50%;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
  }

  .osaka-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .osaka-container p {
    width: 40%;
  }

  .osaka-container img {
    width: 50%;
  }

  .itomori-container-mobile {
    display: none;
  }

  .itomori-container {
    display: block;
  }

  .itomori-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    margin: 20px 40px;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .itomori-container p {
    text-align: center;
    margin: 10px 0;
    width: 40%;
  }

  .itomori-container img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    width: 50%;
  }

  .itomori-container:hover {
    transform: scale(1.03);
    background-color: var(--black);
    color: var(--white);
  }

  .kumano-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .kumano-container p {
    width: 40%;
  }

  .kumano-container img {
    width: 50%;
  }

  .gallery-container div {
    width: 250px;
    height: 325px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .banner-image {
    height: 420px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  .indroduction-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .introduction-container p {
    width: 50%;
  }

  .introduction-container img {
    width: 40%;
  }

  .icons-hover {
    width: 75px;
    height: 75px;
  }

  .osaka-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .osaka-container p {
    width: 50%;
  }

  .osaka-container img {
    width: 40%;
  }

  .itomori-container-mobile {
    display: none;
  }

  .itomori-container {
    display: block;
  }

  .itomori-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    margin: 20px 40px;
    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .itomori-container p {
    text-align: center;
    margin: 10px 0;
    width: 50%;
  }

  .itomori-container img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    width: 40%;
  }

  .itomori-container:hover {
    transform: scale(1.03);
    background-color: var(--black);
    color: var(--white);
  }

  .kumano-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .kumano-container p {
    width: 50%;
  }

  .kumano-container img {
    width: 40%;
  }

  .gallery-container div {
    width: 250px;
    height: 325px;
  }
}