* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --paper: #dedede;
  --white: white;
  --red: #a00e0e;
  --black: black;
  --sky: #f6fcfb;
  --sun: #f44336;
}

body {
  font-family: 'Arima';
}

.header-container {
  background-color: var(--paper);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-container {
  display: none;
}

.nav-icon img {
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 10px;
}

.nav-icon img:hover {
  transform: scale(1.2);
}

.nav-hamburger-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-hamburger-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.nav-container-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid;
  gap: 20px;
  align-items: end;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--paper);
  padding: 20px 20px 10px 40px;
  visibility: hidden;
}

.nav-container-mobile.visible {
  visibility: visible;
}

.nav-list-mobile {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  gap: 20px;
}

.nav-list-mobile li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.nav-list-mobile li a:hover {
  text-decoration: underline;
}

.nav-list li a:hover {
  text-decoration: underline;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-list-mobile {
    gap: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-hamburger-open {
    display: none;
  }

  .nav-container-mobile {
    display: none;
  }

  .nav-container {
    display: block;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .nav-hamburger-open {
    display: none;
  }

  .nav-container-mobile {
    display: none;
  }

  .nav-container {
    display: block;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-list li a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
  }
}