* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --paper: #dedede;
  --white: white;
  --red: #a00e0e;
  --black: black;
  --sky: #f6fcfb;
  --sun: #f44336;
}

body {
  font-family: 'Arima';
  background-color: var(--paper);
}

.banner-image {
  background-image: url('../img/banner-image-3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-image h1,
h2 {
  text-align: center;
  color: var(--white);
}

.banner-image h1 {
  font-size: 24px;
}

.banner-image h2 {
  font-size: 20px;
}

#h2-reviews {
  text-align: center;
  color: var(--black);
  margin: 20px auto 0 auto;
}

#reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 20px 30px 20px;
  padding: 20px;
  background-color: var(--paper);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
}

#reviews-list>div {
  background-color: var(--white);
  padding: 15px;
  word-wrap: break-word;
  border-radius: 15px;
}

#add-review {
  cursor: pointer;
  background-color: var(--sun);
  display: block;
  margin: 10px auto;
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#add-review:hover {
  border: 2px solid var(--red);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner-image {
    height: 350px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner-image {
    height: 400px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner-image {
    height: 420px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }
}