* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --paper: #dedede;
  --white: white;
  --red: #a00e0e;
  --black: black;
  --sky: #f6fcfb;
  --sun: #f44336;
}

body {
  font-family: 'Arima';
  background-color: var(--paper);
}

.banner-image {
  background-image: url('../img/banner-image-4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-image h1,
h2 {
  text-align: center;
  color: var(--white);
}

.banner-image h1 {
  font-size: 24px;
}

.banner-image h2 {
  font-size: 20px;
}

.travel-guides {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 40px;
  margin: 40px;
}

.guide-container {
  position: relative;
  background-color: var(--white);
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 43px 6px rgba(0, 0, 0, 0.29);
}

.guide-container h2 {
  color: black;
  font-size: 20px;
  text-align: start;
}

.content {
  padding: 15px;
}

.guide-container p {
  margin: 10px 0;
}

.guide-container img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.guide-container img:hover {
  transform: scale(1.05);
}

.button-open {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--red);
  color: var(--white);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-open:hover {
  background-color: var(--sun);
}

.modal-window {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal-window-tokyo {
  position: absolute;
  top: 400px;
}

#modal-window-kyoto {
  position: absolute;
  top: 830px;
}

#modal-window-osaka {
  position: absolute;
  top: 1250px;
}

#modal-window-hokkaido {
  position: absolute;
  top: 1660px;
}

.modal-content {
  position: relative;
  width: 80%;
  margin: auto;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: var(--white);
}

.modal-content h2 {
  color: var(--black);
  text-align: center;
  margin-bottom: 10px;
}

.button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--red);
  color: var(--white);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-close:hover {
  background-color: var(--sun);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .banner-image {
    height: 350px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  #modal-window-tokyo {
    top: 500px;
  }

  #modal-window-kyoto {
    top: 880px;
  }

  #modal-window-osaka {
    top: 1330px;
  }

  #modal-window-hokkaido {
    top: 1720px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .banner-image {
    height: 400px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  .modal-window {
    position: fixed;
  }

  #modal-window-tokyo {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-kyoto {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-osaka {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-hokkaido {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .banner-image {
    height: 420px;
  }

  .banner-image h1 {
    font-size: 28px;
  }

  .banner-image h2 {
    font-size: 24px;
  }

  .modal-window {
    position: fixed;
  }

  .travel-guides {
    gap: 100px;
  }

  #modal-window-tokyo {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-kyoto {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-osaka {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  #modal-window-hokkaido {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}